<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css" />
    <title>ShareDeed</title>
    <!--  -->
  </head>
  <body>
    <!-- Navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-weight: 700;">ShareDeed</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       </div>
    </nav>

<!-- Title Section -->
 <section class='title-section'>
  <div class='row'>
    <div class='col-lg-6 md-col-6 sm-col-12 title-heading'>
      <h3 class='heading-text'>Start creating your new code and share with your friends easily.</h3>
    </div>
    <div id="titleimg" class='col-lg-6 md-col-12'>
      <img class="title-img" src="images/titleimg.png" alt="image"/>
    </div>
  </div>
  <div class='row'>
    <div class='start-btn-div col-lg-6 md-col-6 sm-col-12'>
      <button class="glow-on-hover" type="button"><a href="#signupform">Get Started</a></button>
    </div>
  </div>
  
</section>

<hr style="height: 1px;color: #fff;margin:0;">



  <!--       Features Section      -->
  <div class="sections container-fluid">
    <h1>Why Us ?</h1>
    <div class="container-fluid features-section">
      <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://www.freepnglogos.com/uploads/share-png/share-share-online-sharing-social-social-share-icon-9.png">
                <h3>Share</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Share code with your friends just by sharing the link with them.</p>
                    <a href="#signupform">Lets Go</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3>Code</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Code along with your friends with our real time code editor.</p>
                    <a href="#signupform">Lets Go</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgoEto5oM6N7bjFyKtU1-liDiyz7ANvnvvIg&usqp=CAU">
                <h3>Save</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Save the documents you create. Find them here when you come back</p>
                    <a href="#signupform">Lets Go</a>
            </div>
        </div>
    </div>
    </div>
  </div>



  <!-- <div class="container-fluid features-section">
    <div class="row features-row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div  class="features-text">
          <h5 class="card-title">Share Code Easily</h5>
          <p class="card-text">Share code with your friends just by sharing the link with them.</p>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="card-img-top" src="images/share.png" alt="Card image cap">
      </div>

    </div>

    <div class="row features-row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div  class="features-text">
          <h5 class="card-title">Code Together</h5>
          <p class="card-text">Code along with your friends with our real time editor.</p>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="card-img-top" src="images/together.png" alt="Card image cap">
      </div>

    </div>

    <div class="row features-row">
      <div class="col-lg-6 col-md-6 col-sm-6 ">
        <div class="features-text">
          <h5 class="card-title">Save your work</h5>
          <p class="card-text">Save the documents you create. Find them here when you come back.</p>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="card-img-top" src="images/save.jpg" alt="Card image cap">
      </div>

    </div>
  </div> -->


  <hr style="height: 2px;color: #fff;margin:0;">
  

 

   <!-- Signup/Signin Section -->
    <div id="signupform" class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login" method="POST" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Username" required="true"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" required="true"/>
              
            </div>
            <input type="submit" value="Login" class="btn solid" />
          </form>
          <form action="/register" method="POST" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Username" required="true"/>
            </div>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" name="name" placeholder="Full name" required="true"/>
              </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Email" required="true"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" required="true"/>
            </div>
            <input type="submit" class="btn" value="Sign up"/>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Signup now! Start coding and Sharing with your friends.
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="images/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Signin and get started now.
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="images/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>

    <br>
    <footer class="footer">
      <!-- <p>Hello Frennsss ksi lgi site?????</p> -->
      <p style="margin-bottom: 0;">Made with 🤍 by Piyush & Piyush Gupta</p>
    </footer>

<!-- Bootstrap Script -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
<script src="js/app.js"></script>
    
  </body>
</html>
