<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <title>Profile Page</title>
    
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/createroom.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" style="font-weight: 700;" href="/">ShareDeed</a>
          <ul class="nav mx-auto" >
            <li class="nav-item" style="color: white;" style="width: 100px;">Hi, Piyush Gupta</li>
          </ul>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
       <div class="container-fluid">
           <div class="row outer-div">
            <div class="col-lg-6 col-md-6 col-sm-12 title-heading-div">
                <h2>
                  Create new room and start coding <button type="button" class="btn btn-dark"><a href="/create/newroom" style="text-decoration: none; color: white;"><i class="fas fa-plus-square"></i> </a></button>
                </h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 room-image-div">
              <img class="room-image" src="/images/room.png" alt="Create Room">
            </div>

           </div>
        </div>
        <!-- <div class="container-fluid create-button">
            <button type="button" class="btn btn-dark"><a href="/create/newroom" style="text-decoration: none; color: white;">Create Room <i class="fas fa-plus-square"></i> </a></button>
        </div>
     -->
     

        <br>
    <footer class="footer">
      <div style="margin-bottom: 0; text-align: center;">Made with 🤍 by Piyush & Piyush Gupta</div>
    </footer>

    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>